// https://niri-wm.github.io/niri/Configuration:-Layer-Rules.html

// Set the regular wallpaper on the backdrop
layer-rule {
    match namespace="^noctalia-wallpaper$"
    place-within-backdrop true
}
