// https://niri-wm.github.io/niri/Configuration:-Miscellaneous.html


spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-i" "/home/arda/nixos/wallpapers/cherry-blossom-train.jpg"
spawn-at-startup "mako"
// spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
// spawn-at-startup "dms" "run"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// screenshot-path null

environment {
    // QT_QPA_PLATFORM "wayland"
    // DISPLAY null
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24

    // hide-when-typing
    // hide-after-inactive-ms 1000
}

overview {
    zoom 0.5
    // backdrop-color "##262626"

    workspace-shadow {
        off
        // softness 40
        // spread 10
        // offset x=0 y=10
        // color "#00000050"
    }
}

xwayland-satellite {
    // off
    path "xwayland-satellite"
}

clipboard {
    disable-primary
}

hotkey-overlay {
    // skip-at-startup
    // hide-not-bound
}

config-notification {
    // disable-failed
}

blur {
    off
    // passes 3
    // offset 3.0
    // noise 0.02
    // saturation 1.5
}
