// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Example: Block out two password managers from screen capture.
// window-rule {
//     match app-id=r#"^org\.keepassxc\.KeePassXC$"#
//     match app-id=r#"^org\.gnome\.World\.Secrets$"#
//
//     block-out-from "screen-capture"
//
//     // Use this instead if you want them visible on third-party screenshot tools.
//     // block-out-from "screencast"
// }

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

// Fix focus ring/border showing through transparent windows.
window-rule {
    match app-id="^kitty$"
    draw-border-with-background false
}

// Open maximized to edges.
window-rule {
  match app-id=r#"firefox$"#
    match app-id="org.gnome.Nautilus"
    open-maximized-to-edges true
}

// Open maximized.
window-rule {
    // match app-id="com.mitchellh.ghostty"
    match app-id="^kitty$"
    open-maximized true
}

// Open the Firefox Picture-in-Picture player floating.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    max-width 1200
    max-height 900
}

// Open floating and resized.
window-rule {
    // match app-id="^com.mitchellh.ghostty$" title="^termfilechooser$"
    match app-id="localsend_app" title="Open File"
    match app-id="xdg-desktop-portal-gtk"
    match app-id=r#"firefox$"# title="^Library"
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 900; }
}
