// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

// Open Obsidian maximized to edges.
window-rule {
    match app-id="^obsidian$"
    open-maximized-to-edges true
}

// Open Ghostty maximized.
window-rule {
    match app-id="^com.mitchellh.ghostty$"
    open-maximized true
}

// Open floating and resized
window-rule {
    // match app-id="^com.mitchellh.ghostty$" title="^termfilechooser$"
    match app-id="localsend_app" title="Open File"
    match app-id="xdg-desktop-portal-gtk"
    match app-id=r#"firefox$"# title="^Library"
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 900; }
}

// Open mpv as a floating window.
window-rule {
    match app-id="^mpv$"
    open-floating true
}
